{{ define "main" }}
    <section>
        <div class="px-4 text-center relative {{ if site.Params.logo }}top-35{{ else }}top-10{{ end }}">
            <div class="space-y-5 max-w-3xl mx-auto">
                <h1 class="text-5xl tracking-wider leading-13 font-bold text-dark font-primary" data-aos="fade-up" data-aos-duration="1000">{{ .Title }}</h1>
                <p class="text-lg font-primary text-dark-dim tracking-wider" data-aos="fade-up" data-aos-duration="1200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aut dolorum harum, perferendis at vitae, voluptatibus voluptatem cum, hic atque perspiciatis quidem quo unde.</p>
            </div>
        </div>
        <div class="container mx-auto py-20 px-4 {{ if site.Params.logo }}mt-35{{ else }}mt-10{{ end }}" data-aos="fade-up" data-aos-duration="1400">
            {{ $placeholder := resources.Get "galleries/placeholder" }}
            {{ partial "components/gallery.html" (dict "dir" $placeholder ) }}
        </div>
    </section>
{{ end }}