{{ define "main" }}
{{/*  hero section  */}}
{{ with .Params.hero_section }}
<section class="w-full h-screen">
    {{ $hero_video := "videos/placeholder.mp4" | relURL }}
    <div class="relative {{ if site.Params.logo }}top-35{{ else }}top-10{{ end }} h-screen flex justify-center items-center">
        {{ $hero_bg := "images/dev/hero-bg.png" | relURL }}
        <img src="{{ $hero_bg }}" class="absolute inset-0 h-full w-full object-cover object-top">
        <div class="absolute bg-black/70 inset-0"></div>

        <div class="container relative mx-auto">
            <div class="swiper hero-swiper max-w-xs sm:max-w-md lg:max-w-3xl">
                <div class="swiper-wrapper">
                    {{ range .slides }}
                    <div class="space-y-5 text-center swiper-slide"  >
                        <p class="font-primary text-light-dim tracking-wider">{{ .sub_heading | safeHTML }}</p>
                        <h1 class="text-5xl tracking-wider leading-13 font-bold text-light font-primary">{{ .heading | safeHTML }}</h1>
                        <p class="text-lg font-primary text-light-dim tracking-wider">{{ .description | safeHTML }}</p>
                    </div>
                    {{ end }}
                </div>
            </div>
    
            <button aria-label="previous slide" class="absolute top-1/2 -translate-y-1/2 left-10 hidden lg:flex justify-center items-center size-14 border border-light-dim hover:border-light hover:scale-110 transition-all cursor-pointer group rounded-full hero-prev-slide">
                <svg class="size-7 text-light-dim group-hover:text-light" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(0 0 0)">
                    <path fill="currentColor" d="M15.2335 5.21967C15.5263 5.51256 15.5263 5.98744 15.2335 6.28033L9.51379 12L15.2335 17.7197C15.5263 18.0126 15.5263 18.4874 15.2335 18.7803C14.9406 19.0732 14.4657 19.0732 14.1728 18.7803L7.92279 12.5303C7.6299 12.2374 7.6299 11.7626 7.92279 11.4697L14.1728 5.21967C14.4657 4.92678 14.9406 4.92678 15.2335 5.21967Z" fill="#343C54"/>
                </svg>
            </button>
    
            <button aria-label="next slide" class="absolute top-1/2 -translate-y-1/2 right-10 hidden lg:flex justify-center items-center size-14 border border-light-dim hover:border-light hover:scale-110 transition-all cursor-pointer group rounded-full hero-next-slide">
                <svg class="size-7 rotate-180 text-light-dim group-hover:text-light" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(0 0 0)">
                    <path fill="currentColor" d="M15.2335 5.21967C15.5263 5.51256 15.5263 5.98744 15.2335 6.28033L9.51379 12L15.2335 17.7197C15.5263 18.0126 15.5263 18.4874 15.2335 18.7803C14.9406 19.0732 14.4657 19.0732 14.1728 18.7803L7.92279 12.5303C7.6299 12.2374 7.6299 11.7626 7.92279 11.4697L14.1728 5.21967C14.4657 4.92678 14.9406 4.92678 15.2335 5.21967Z" fill="#343C54"/>
                </svg>
            </button>
        </div>
    </div>
</section>
{{ end }}
{{/*  end hero  */}}

{{/*  gallery section  */}}
{{ with .Params.gallery_section }}
{{ if .enable }}
<section class="{{ if site.Params.logo }}mt-35{{ else }}mt-10{{ end }}">
    <div class="container mx-auto space-y-20 py-20 px-4">
        <div class="space-y-5 max-w-3xl mx-auto text-center"  >
            <h1 class="text-5xl tracking-wider leading-13 font-bold text-dark font-primary">{{ .title | safeHTML }}</h1>
            <p class="text-lg font-primary text-dark-dim tracking-wider">{{ .details | safeHTML }}</p>
            {{ with .button }}
            {{ partial "ui/button.html" (dict "label" .label "url" (.url | relURL )) }}
            {{ end }}
        </div>
        <div  >
            {{ $home_gallery := resources.Get .gallery }}
            {{ partial "components/gallery.html" (dict "dir" $home_gallery ) }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{/*  end gallery  */}}

{{/*  goals section  */}}
{{ with .Params.goals_section }}
{{ if .enable }}
<section class="py-20 bg-light-dim relative overflow-hidden">
    <div class="absolute size-40 rounded-full top-10 lg:top-20 left-5 lg:left-30 bg-accent/10"></div>
    <div class="absolute size-60 rounded-full -bottom-40 left-1/2 -translate-x-1/2 bg-accent/10"></div>
    <div class="absolute size-30 rounded-full top-1/2 -translate-y-1/2 -right-15 lg:-top-10 lg:right-1/5 lg:translate-y-0 bg-accent/10"></div>
    <div class="hidden lg:block absolute size-36 rounded-full right-5 bottom-20 bg-accent/10"></div>
    <div class="relative container mx-auto px-4 grid grid-cols-1 lg:grid-cols-2 items-center gap-10 lg:justify-between">
        <div class="space-y-5 max-w-md mx-auto text-center lg:text-left"  >
            <h1 class="text-5xl tracking-wider leading-13 font-bold text-dark font-primary">{{ .title | safeHTML }}</h1>
            <p class="text-lg font-primary text-dark-dim tracking-wider">{{ .details | safeHTML }}</p>
            {{ with .button }}
            {{ partial "ui/button.html" (dict "label" .label "url" (.url | relURL)) }}
            {{ end }}
        </div>
        <div class="space-y-5"  >
            <div class="goals-pagination size-14 mx-auto lg:mx-0 rounded-full border border-dark flex justify-center items-center text-lg font-primary text-dark"></div>
            <div class="swiper goals-swiper">
                <div class="swiper-wrapper">
                    {{ range .slides }}
                    <div class="swiper-slide">
                        <div class="space-y-2 text-center lg:max-w-sm lg:text-left">
                            <h1 class="text-xl tracking-wider font-bold text-dark font-primary">{{ .title | safeHTML }}</h1>
                            <p class="font-primary text-dark-dim tracking-wider">{{ .details | safeHTML }}</p>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="flex items-center justify-center lg:justify-start gap-5">
                <button class="goals-prev-slide size-10 cursor-pointer rounded-full border border-dark flex justify-center items-center text-dark">
                    <svg class="size-7 text-inherit" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(0 0 0)">
                        <path fill="currentColor" d="M15.2335 5.21967C15.5263 5.51256 15.5263 5.98744 15.2335 6.28033L9.51379 12L15.2335 17.7197C15.5263 18.0126 15.5263 18.4874 15.2335 18.7803C14.9406 19.0732 14.4657 19.0732 14.1728 18.7803L7.92279 12.5303C7.6299 12.2374 7.6299 11.7626 7.92279 11.4697L14.1728 5.21967C14.4657 4.92678 14.9406 4.92678 15.2335 5.21967Z" fill="#343C54"/>
                    </svg>
                </button>
                <button class="goals-next-slide size-10 cursor-pointer rounded-full border border-dark flex justify-center items-center text-dark">
                    <svg class="size-7 text-inherit rotate-180" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(0 0 0)">
                        <path fill="currentColor" d="M15.2335 5.21967C15.5263 5.51256 15.5263 5.98744 15.2335 6.28033L9.51379 12L15.2335 17.7197C15.5263 18.0126 15.5263 18.4874 15.2335 18.7803C14.9406 19.0732 14.4657 19.0732 14.1728 18.7803L7.92279 12.5303C7.6299 12.2374 7.6299 11.7626 7.92279 11.4697L14.1728 5.21967C14.4657 4.92678 14.9406 4.92678 15.2335 5.21967Z" fill="#343C54"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{/*  end goals  */}}

{{/*  accomplishments section  */}}
{{ with where .Site.RegularPages "Section" "accomplishments" }}
<section class="py-20">
    <div class="container mx-auto px-4 space-y-10">
        {{ range $i, $p := . }}
        <div class="flex flex-col {{ if not (modBool $i 2) }}lg:flex-row-reverse{{ else }}lg:flex-row{{ end }} justify-between items-center gap-5">
            <div class="space-y-5 lg:w-1/2"  >
                <h3 class="text-4xl tracking-wider leading-13 font-bold text-dark font-primary">{{ .Title  | safeHTML }}</h3>
                <p class="text-lg font-primary text-dark-dim tracking-wider">{{ .Content | truncate 120 }}</p>
                {{ partial "ui/button.html" (dict "label" "Read More" "url" .RelPermalink) }}
            </div>
            <div class="lg:w-1/2"  >
                <img src="{{ $p.Params.cover | relURL }}" alt="" class="rounded-3xl shadow-sm object-cover size-96 {{ if not (modBool $i 2) }}mr-auto{{ else }}ml-auto{{ end }}">
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
{{/*  end accomplishments  */}}

{{/*  cta section  */}}
<section class="py-20 bg-gradient">
    <div class="max-w-5xl mx-auto px-4 flex flex-col lg:flex-row justify-between lg:items-center gap-5">
        <div class="space-y-5 lg:w-1/2">
            <h1 class="text-5xl tracking-wider leading-13 font-bold text-dark font-primary"  >Sponser a kid</h1>
            {{ partial "ui/button.html" (dict "label" "Get Started" "animation" "true" "url" "/about/" "color" "bg-gradient-to-br from-dark-dim to-dark text-light") }}
        </div>
        <div class="mx-[60px] hidden lg:inline-block">
            <span class="px-[1px] rotate-12 bg-dark inline-block h-[111.4px]"></span>
        </div>
        <div class="lg:w-1/2">
            <p class="text-lg font-primary text-dark-dim tracking-wider"  >Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aut dolorum harum, perferendis at vitae, voluptatibus voluptatem cum, hic atque perspiciatis quidem quo unde.</p>
        </div>
    </div>
</section>
{{/*  end cta  */}}
{{ end }}